.encabezado {
    background-color: rgba(199, 210, 215, 0.3);
    color: #264264;
    text-align: center;
    border-bottom: 10px solid rgba(55, 96, 146, 0.7);
    margin: 0;
    padding: 10px 20px 10px 0px;
    font-family: 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 35px #0003;
         
}

.encabezado p {

margin: 10px 20px; 
text-align: left; 
font-style: italic;  
}


ul {
    
    margin: 0 300px 0 300px;
    display: flex;
    background: rgba(250, 246, 197, 0.3);
    padding: 15px 50px 15px 300px;
    border: 2px solid transparent;
    border-bottom-right-radius:  8px;
    border-bottom-left-radius:  8px;
    
}

a {
   
    margin-right: 100px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: #343a40;
   
}
a:hover {

    color: #8a8e92;
    font-weight: 900;
}

li {
   list-style: none;
    text-align: center;
}

table {

    margin: 100px 80px;
    font-family: sans-serif;
    
    
    
}


th {
    border-bottom: 3px solid #264264;
    padding-right: 60px;
    padding-left: 60px;
    color: #264264;
    font-size: 14px;
    border-radius: 6px;
    
}

tbody {
    
    text-align: center;
    
}

td {
    
    padding: 10px 0 10px 0;
    background: rgba(55, 96, 146, 0.3);    
}


body{
    
       margin: 0 0 0 0;  
       height: 100vh;
       overflow: hidden;
    }

html {

    background: linear-gradient(rgba(55, 96, 146, 0.4), transparent)
}

