.encabezado {
    background-color: rgba(199, 210, 215, 0.3);
    color: #264264;
    text-align: center;
    border-bottom: 10px solid rgba(55, 96, 146, 0.7);
    margin: 0;
    padding: 10px 20px 10px 0px;
    font-family: 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 35px #0003;
         
}

.encabezado p {

margin: 10px 20px; 
text-align: left; 
font-style: italic;  
}

.Administrador {
    width: 400px;
    height: 40px;
    padding: 20px 10px 5px 10px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    margin: 20px 200px -30px 60px;
    
      
}

.Administrador i {

    margin-right: 5px;
    
}

.Administrador a {
    color: #707378;
    text-decoration: none;
    margin-right: 10px;
}

.Administrador a:hover {

    color: #292a2a;
    
}

.plantas {

    margin: 80px 0 0 140px;
    width: 400px;
    height: 500px;
    background: linear-gradient(rgba(55, 96, 146, 0.4), transparent);
    border-radius: 20px;
    box-shadow: 0 0 25px #0003;
    
}

.plantas h2 {
    text-align: center;
    padding-top: 30px;
    font-family: sans-serif;
    font-size: 36px;
    color: #264264;
    font-weight: 600;
    margin: 20px 10px 50px 5px;
}

.plantas p {

    text-align: left;
    margin: 10px 0 30px 20px;
    font-family: sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    color: #292a2a;
}

.plantas li {
    width: 200px;
    margin: 25px 0  0 70px;
    color: #264264;
    padding: 15px 10px 15px 20px;
    border-left: 4px solid #264264;
    background: linear-gradient(rgba(55, 96, 146, 0.1), transparent);
    list-style: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #0003;
}

.plantas li a {

    color: #264264;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    
}

.plantas li a:hover {

    color: #264264;
    font-weight: 600;
}

.plantas i {

    margin-right: 10px;
    
}

.proco {

    margin: 80px 0 0 140px;
    width: 400px;
    height: 500px;
    background: linear-gradient(rgba(188, 196, 205, 0.4), transparent);
    border-radius: 20px;
    box-shadow: 0 0 25px #0003;
    
}

.proco h2 {
    text-align: center;
    padding-top: 30px;
    font-family: sans-serif;
    font-size: 36px;
    color: #4a4c4d;
    font-weight: 600;
    margin: 20px 10px 50px 5px;
}

.proco p {

    text-align: left;
    margin: 10px 0 30px 20px;
    font-family: sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    color: #292a2a;
}

.proco li {

    margin: 25px 0  0 70px;
    color: #4a4c4d;
    padding: 15px 10px 15px 20px;
    border-left: 4px solid #4a4c4d;
    background: linear-gradient(rgba(188, 196, 205, 0.2), transparent);
    list-style: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #0003;
    width: 200px;
}

.proco li a {

    color: #4a4c4d;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.proco li a:hover {

    color: #4a4c4d;
    font-weight: 600;
}

.proco i {

    margin-right: 10px;
    
}

.santoni {

    margin: 80px 0 0 140px;
    width: 400px;
    height: 500px;
    background: linear-gradient(rgba(35, 191, 184, 0.4), transparent);
    border-radius: 20px;
    box-shadow: 0 0 25px #0003;
    
}

.santoni h2 {
    text-align: center;
    padding-top: 30px;
    font-family: sans-serif;
    font-size: 36px;
    color: #3b7370;
    font-weight: 600;
    margin: 20px 10px 50px 5px;
}

.santoni p {

    text-align: left;
    margin: 10px 0 30px 20px;
    font-family: sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    color: #292a2a;
}

.santoni li {

    margin: 25px 0  0 70px;
    color: #3b7370;
    padding: 15px 10px 15px 20px;
    border-left: 4px solid #3b7370;
    background: linear-gradient(rgba(35, 191, 184, 0.2), transparent);
    list-style: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #0003;
    width: 200px;
}

.santoni li a {

    color: #3b7370;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.santoni li a:hover {

    color: #3b7370;
    font-weight: 600;
}

.santoni i {

    margin-right: 10px;
    
}

.totalplantas {

    display: flex;
    margin-left: 50px;
}
body{
   
       margin: 0 0 0 0;  
       height: 100vh;
       overflow: hidden;
    }



