/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: linear-gradient(45deg, #005a74, #0094b6);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Estilo del título principal */
h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
}

/* Título de la caja */
h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
}

/* Estilos de los campos de entrada */
.textbox {
    margin-bottom: 20px;
    position: relative;
}

.textbox input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.textbox input:focus {
    
    background-color: #ffffff;
    outline: none;
    box-shadow: 0 0 5px #69d6ef;
}

/* Enlace "Olvidé mi contraseña" */
.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #d6eaf8;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Botón de inicio de sesión */
.btn {
    width: 100%;
    padding: 15px;
    background-color: #0094b6;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #69d6ef;
}

/* Enlace para registrarse */
.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.signup-link p {
    color: #ddd;
}

.signup-link a {
    color: #d6eaf8;
    font-weight: 600;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* Media queries para responsividad */
@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 22px;
    }

    .textbox input {
        padding: 12px;
    }

    .btn {
        padding: 12px;
    }
}
